.text {
    text-align: left;
    padding-left: 50px;
}

.text p {
    padding: 5px;
    background-color: transparent;
}

@media (max-width: 864px){
    .text {
        text-align: left;
        padding-left: 0;
    }
}